NodeRedFlow1.json
[{"id":"4383b27c.e5528c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bd36ffb8.3f671","type":"function","z":"4383b27c.e5528c","name":"Generate 20 random points y=ax+b+e","func":"// Node RED function node to generate random points to be used in linear regression model training.\n// Author: V.Kaznovsky\nvar slope_a = context.get('slope_a') || 1.5; \nvar intercept = context.get('intercept') || 0.5;\nvar epsilon = context.get('epsilon') || 10;\nvar x=0, y=0;\nvar xypoints = context.get('xypoints') || 'x,y';\nvar mesg={};\nmesg.payload='';\n\nswitch (msg.payload) {\n    case 0 :\n        {\n            mesg.payload=xypoints;\n            return[mesg];\n        }\n    case 1 :\n        {   for (i = 0; i < 30; i++) \n            {\n            epsilon= Math.floor((Math.random() * 10) + 1);\n            x = Math.floor((Math.random() * 100) + 1);\n            y = slope_a*x+intercept+epsilon/100;\n            xypoints=xypoints+\"\\n\"+x.toString()+','+y.toString();\n            context.set('xypoints',xypoints);\n            }\n        }\n        break;\n    default:\n\n        break;\n}","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["25800784.8ebc"]]},{"id":"2f726be9.f04c0c","type":"inject","z":"4383b27c.e5528c","name":"Initialize","topic":"ini","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":120,"y":40,"wires":[["37401ea1.248cba"]]},{"id":"37401ea1.248cba","type":"trigger","z":"4383b27c.e5528c","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":160,"y":120,"wires":[["bd36ffb8.3f671"]]},{"id":"3ec990ad.59963","type":"debug","z":"4383b27c.e5528c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"25800784.8ebc","type":"cos-put","z":"4383b27c.e5528c","name":"Bluemix COS","bucket":"noderedlocalxypoints","create":"0","objectname":"LocalNodeRedGeneratedXYregressionPoints.csv","mode":"1","filepath":"","filename":"NodeRedGenerated","contentType":"text/comma-separated-values","geturl":false,"cosconfig":"d6a61a9e.adcd58","x":640,"y":300,"wires":[["3ec990ad.59963"]]},{"id":"d6a61a9e.adcd58","type":"cos-config","z":"","apiKeyId":"...","location":"us-south","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.us-south.objectstorage.softlayer.net","serviceInstanceId":"s3.us-south.cloud-object-storage.appdomain.cloud","hmac":false,"accesskeyid":"","accesskey":"","name":"cloud-object-storage-dsx"}]