NodeRedFlowWA_NLU.json
[{"id":"c8ae868f.ebafe","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"52b9162f.cca71","type":"watson-speech-to-text","z":"c8ae868f.ebafe","name":"Speech to Text-aw","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/speech-to-text/api","x":150,"y":200,"wires":[["73e8ea00.dcb424"]]},{"id":"c8adfccf.342c98","type":"watson-text-to-speech","z":"c8ae868f.ebafe","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/text-to-speech/api","x":660,"y":200,"wires":[["6e68ac6a.088e54"]]},{"id":"6e68ac6a.088e54","type":"play audio","z":"c8ae868f.ebafe","name":"","voice":"","x":890,"y":140,"wires":[]},{"id":"cf49b3e.1d3355","type":"debug","z":"c8ae868f.ebafe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":340,"wires":[]},{"id":"73e8ea00.dcb424","type":"change","z":"c8ae868f.ebafe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["9b68285.0383e58","d0363a7a.fc4c2","4c14aa73.9ee204","c8adfccf.342c98","18e5c64e.94b26a"]]},{"id":"9b68285.0383e58","type":"natural-language-understanding","z":"c8ae868f.ebafe","name":"Natural Language Understanding-v7","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":510,"y":600,"wires":[["9037898c.7634a8"]]},{"id":"94d84c51.4bac2","type":"microphone","z":"c8ae868f.ebafe","name":"","x":110,"y":60,"wires":[["52b9162f.cca71"]]},{"id":"4c14aa73.9ee204","type":"watson-assistant-v2","z":"c8ae868f.ebafe","name":"Chatbot VK","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":650,"y":300,"wires":[["cf49b3e.1d3355"]]},{"id":"d0363a7a.fc4c2","type":"watson-tone-analyzer-v3","z":"c8ae868f.ebafe","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":590,"y":420,"wires":[["d0881727.80bcf8"]]},{"id":"ac591cb5.e86858","type":"watson-translator","z":"c8ae868f.ebafe","name":"Language Translator-kv","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":690,"y":40,"wires":[["6e68ac6a.088e54"]]},{"id":"18e5c64e.94b26a","type":"delay","z":"c8ae868f.ebafe","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":120,"wires":[["ac591cb5.e86858"]]},{"id":"d0881727.80bcf8","type":"function","z":"c8ae868f.ebafe","name":"Output Tone","func":"var mesg={};\nmesg.payload=msg.response.document_tone.tones[0].tone_name;\nreturn mesg","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["cf49b3e.1d3355"]]},{"id":"9037898c.7634a8","type":"function","z":"c8ae868f.ebafe","name":"Output Tone","func":"var mesg={};\nmesg.payload='Category='+msg.features.categories[0].label;\nmesg.payload=mesg.payload+'; Subject= '+msg.features.semantic_roles[0].subject.text;\nmesg.payload=mesg.payload+'; Object= '+msg.features.semantic_roles[0].object.text;\nmesg.payload=mesg.payload+'; Verb tense= '+msg.features.semantic_roles[0].action.verb.tense;\nmesg.payload=mesg.payload+'; Sentiment= '+msg.features.sentiment.document.label;\nmesg.payload=mesg.payload+'; Tone= '+msg.response.document_tone.tones[0].tone_name\nreturn mesg\n","outputs":1,"noerr":0,"x":830,"y":660,"wires":[["cf49b3e.1d3355"]]}]