Training3/WA/Chatbot and NLU processing NodeRed flow.json
[{"id":"fbaff3d9.027618","type":"watson-speech-to-text","z":"ce1b07f4.ac578","name":"Speech to Text-aw","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"...","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/speech-to-text/api","x":170,"y":200,"wires":[["31d3e83d.460a2"]]},{"id":"45efd167.7b306","type":"watson-text-to-speech","z":"ce1b07f4.ac578","name":"Text to Speech-he","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"...","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/text-to-speech/api","x":690,"y":200,"wires":[["a315bc13.a30b2"]]},{"id":"b6a4baa9.08dbb","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":340,"wires":[]},{"id":"81a0a31a.37038","type":"change","z":"ce1b07f4.ac578","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[[]]},{"id":"769dec6b.fd4f34","type":"natural-language-understanding","z":"ce1b07f4.ac578","name":"Natural Language Understanding-17","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":590,"y":520,"wires":[["572d1043.41e6f8"]]},{"id":"7c2efc1e.3f195c","type":"microphone","z":"ce1b07f4.ac578","name":"","x":130,"y":60,"wires":[["fbaff3d9.027618"]]},{"id":"dbafc4c7.64876","type":"watson-assistant-v2","z":"ce1b07f4.ac578","name":"Chatbot VK","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"e592659c-0568-4d2e-8f5c-476726981d64","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":610,"y":360,"wires":[["2566fd29.f4933a"]]},{"id":"60cd9a08.5c5214","type":"watson-tone-analyzer-v3","z":"ce1b07f4.ac578","name":"Tone Analyzer-51","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":590,"y":440,"wires":[["7ab7ed04.91e5fc"]]},{"id":"e140aa74.c4282","type":"watson-translator","z":"ce1b07f4.ac578","name":"Language Translator-kv","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"...","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":710,"y":40,"wires":[["b987e8aa.42c3d"]]},{"id":"85fa05c9.f90d38","type":"delay","z":"ce1b07f4.ac578","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":160,"wires":[["e140aa74.c4282"]]},{"id":"7ab7ed04.91e5fc","type":"function","z":"ce1b07f4.ac578","name":"Output Tone","func":"var mesg={};\nif (msg.response.document_tone !==undefined)\n{\nvar tone = msg.response.document_tone.tones[0].tone_name;\nif (tone !== undefined)\n    mesg.payload=tone;\n}\nreturn mesg","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["b6a4baa9.08dbb","5e568cf8.ea3ac4"]]},{"id":"572d1043.41e6f8","type":"function","z":"ce1b07f4.ac578","name":"Output Subject Object Verb tense Sentiment Tone","func":"var mesg={};\n\nif (msg.features !==undefined)\n{\nvar category = msg.features.categories[0].label; \nif (category !== undefined)\n    mesg.payload='Category='+category;\n\nvar subject=msg.features.semantic_roles[0].subject.text\nif (subject !== undefined)\n    mesg.payload=mesg.payload+'; Subject= '+subject;\n\nvar object=msg.features.semantic_roles[0].object.text;\nif (object !== undefined)\n    mesg.payload=mesg.payload+'; Object= '+object;\n\nvar verb=msg.features.semantic_roles[0].action.verb.tense;\nif (verb !== undefined)\n    mesg.payload=mesg.payload+'; Verb tense= '+verb;\n\nvar sentiment=msg.features.sentiment.document.label;\nif (sentiment !==undefined)\n    mesg.payload=mesg.payload+'; Sentiment= '+sentiment;\n\n//var tone = msg.features.document_tone;\n//if (tone !==undefined)\n//    mesg.payload=mesg.payload+'; Tone= '+msg.response.document_tone.tones[0].tone_name;\n}\nreturn mesg;\n","outputs":1,"noerr":0,"x":770,"y":600,"wires":[["ceed3302.757378","6ece1b5e.465b5c"]]},{"id":"2566fd29.f4933a","type":"function","z":"ce1b07f4.ac578","name":"Display intent and confidence","func":"var mesg={};\nvar prob=msg.payload.output.intents[0].confidence*100;\nconf=parseFloat(prob.toFixed(2))\nmesg.payload='Intent='+msg.payload.output.intents[0].intent+', Prob='+conf;\nreturn mesg","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["ab5ec995.752e08","5e19fe0c.0acf58"]]},{"id":"ceed3302.757378","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":460,"wires":[]},{"id":"31d3e83d.460a2","type":"debug","z":"ce1b07f4.ac578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":100,"wires":[]},{"id":"c49ed718.cba64","type":"function","z":"ce1b07f4.ac578","name":"Insert Hello","func":"var mesg={};\nmesg.payload=msg.payload\n\nreturn mesg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["85fa05c9.f90d38","dbafc4c7.64876","769dec6b.fd4f34","60cd9a08.5c5214"]]},{"id":"a315bc13.a30b2","type":"play audio","z":"ce1b07f4.ac578","name":"","voice":"","x":940,"y":140,"wires":[]},{"id":"fe32c532.a0f408","type":"link in","z":"ce1b07f4.ac578","name":"TextIn","links":["9b7ff04b.0d0638"],"x":175,"y":360,"wires":[["c49ed718.cba64","8e6e6059.0c7468"]]},{"id":"8e6e6059.0c7468","type":"debug","z":"ce1b07f4.ac578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":420,"wires":[]},{"id":"6ece1b5e.465b5c","type":"link out","z":"ce1b07f4.ac578","name":"NLU out","links":["268cc606.0f36fa"],"x":955,"y":680,"wires":[]},{"id":"5e568cf8.ea3ac4","type":"link out","z":"ce1b07f4.ac578","name":"Output Tone","links":["719977f0.c50fb"],"x":980,"y":400,"wires":[]},{"id":"ab5ec995.752e08","type":"link out","z":"ce1b07f4.ac578","name":"Output Intent","links":["58e54a82.f4236c"],"x":915,"y":200,"wires":[]},{"id":"b987e8aa.42c3d","type":"link out","z":"ce1b07f4.ac578","name":"Output translation","links":["68a192de.092854"],"x":940,"y":80,"wires":[]},{"id":"5e19fe0c.0acf58","type":"debug","z":"ce1b07f4.ac578","name":"Intent recognized","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":260,"wires":[]}]