Training3/WA/Dashboard NRed flow.json
[{"id":"61fb0a79.0ad3cc","type":"ui_button","z":"cd236843.bf0958","name":"Submit utterance","group":"2fedcf4e.024c58","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"input_text","payloadType":"global","topic":"text","x":250,"y":380,"wires":[["f2bb03ae.afcd9","1dc99e27.e0207a","9b7ff04b.0d0638"]]},{"id":"e9c3026f.fdc4c8","type":"ui_slider","z":"cd236843.bf0958","name":"","label":"slider","tooltip":"","group":"ea97e237.90b0b8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"0.1","x":530,"y":460,"wires":[["4489e48b.d5677c","7332ff28.06b508","800cc5fe.e33cd"]]},{"id":"f2bb03ae.afcd9","type":"ui_text","z":"cd236843.bf0958","group":"2fedcf4e.024c58","order":1,"width":0,"height":0,"name":"Inputted text","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":340,"wires":[]},{"id":"4489e48b.d5677c","type":"ui_gauge","z":"cd236843.bf0958","name":"","group":"ea97e237.90b0b8","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff40"],"seg1":"33","seg2":"66","x":670,"y":420,"wires":[]},{"id":"b4f01225.2346f8","type":"ui_audio","z":"cd236843.bf0958","name":"Speak","group":"2fedcf4e.024c58","voice":"de-DE","always":"","x":390,"y":600,"wires":[]},{"id":"1dc99e27.e0207a","type":"ui_toast","z":"cd236843.bf0958","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":470,"y":400,"wires":[]},{"id":"7332ff28.06b508","type":"ui_chart","z":"cd236843.bf0958","name":"","group":"ea97e237.90b0b8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":480,"wires":[[]]},{"id":"800cc5fe.e33cd","type":"ui_chart","z":"cd236843.bf0958","name":"","group":"ea97e237.90b0b8","order":3,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":520,"wires":[[]]},{"id":"9b7ff04b.0d0638","type":"link out","z":"cd236843.bf0958","name":"DashboardText","links":["fe32c532.a0f408"],"x":395,"y":460,"wires":[]},{"id":"235d9a32.aa8516","type":"ui_text_input","z":"cd236843.bf0958","name":"","label":"User utterance text:","tooltip":"","group":"2fedcf4e.024c58","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":240,"wires":[["18d8ca75.3851b6"]]},{"id":"6b60054d.d1337c","type":"ui_text_input","z":"cd236843.bf0958","name":"NLU output","label":"NLU output:","tooltip":"","group":"2fedcf4e.024c58","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":410,"y":540,"wires":[[]]},{"id":"268cc606.0f36fa","type":"link in","z":"cd236843.bf0958","name":"Display NLU","links":["6ece1b5e.465b5c"],"x":215,"y":540,"wires":[["6b60054d.d1337c"]]},{"id":"58e54a82.f4236c","type":"link in","z":"cd236843.bf0958","name":"","links":["ab5ec995.752e08"],"x":220,"y":620,"wires":[["2db4332b.44a74c","b4f01225.2346f8","69616468.3228c4"]]},{"id":"68a192de.092854","type":"link in","z":"cd236843.bf0958","name":"","links":["b987e8aa.42c3d"],"x":215,"y":700,"wires":[["1f8e1acf.d6cb2d"]]},{"id":"2db4332b.44a74c","type":"ui_text","z":"cd236843.bf0958","group":"2fedcf4e.024c58","order":5,"width":0,"height":0,"name":"Intent output","label":"Recognized","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":640,"wires":[]},{"id":"1f8e1acf.d6cb2d","type":"ui_text","z":"cd236843.bf0958","group":"2fedcf4e.024c58","order":6,"width":0,"height":0,"name":"Translation output","label":"Translation: ","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":700,"wires":[]},{"id":"3dcbbcdc.4894e4","type":"ui_text","z":"cd236843.bf0958","group":"2fedcf4e.024c58","order":7,"width":0,"height":0,"name":"output Tone","label":"Tone: ","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":780,"wires":[]},{"id":"719977f0.c50fb","type":"link in","z":"cd236843.bf0958","name":"","links":["5e568cf8.ea3ac4"],"x":215,"y":780,"wires":[["3dcbbcdc.4894e4"]]},{"id":"18d8ca75.3851b6","type":"function","z":"cd236843.bf0958","name":"Set global","func":"var input_text = global.get('input_text') || ''; \ninput_text = msg.payload;\nglobal.set('input_text',input_text);\nvar mesg={};\nmesg.payload=global.get('input_text');\nreturn mesg;\n","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["61fb0a79.0ad3cc"]]},{"id":"69616468.3228c4","type":"function","z":"cd236843.bf0958","name":"Get percent","func":"var start=msg.payload.search(\"Prob=\");\nvar proc=msg.payload.substr(start+5,5);\nvar mesg={};\nmesg.payload=proc;\nreturn mesg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["e9c3026f.fdc4c8"]]},{"id":"2fedcf4e.024c58","type":"ui_group","z":"","name":"Linguistic processing","tab":"55c2508.29acbb","disp":true,"width":"6","collapse":false},{"id":"ea97e237.90b0b8","type":"ui_group","z":0,"name":"Graphic","tab":"55c2508.29acbb","disp":true,"width":"6","collapse":false},{"id":"55c2508.29acbb","type":"ui_tab","z":0,"name":"Button Demo","icon":"dashboard","disabled":false,"hidden":false}]