.history/Training1/NodeRedFlowRegressionCOSand WIOT_20200517223442.json
[{"id":"265ae28c.95285e","type":"function","z":"df5af0ff.f64188","name":"Generate 20 random points y=ax+b+e","func":"// Node RED function node to generate random points to be used in linear regression model training.\n// Author: V.Kaznovsky\nvar slope_a = context.get('slope_a') || 1.5; \nvar intercept = context.get('intercept') || 0.5;\nvar epsilon = context.get('epsilon') || 10;\nvar x=0, y=0;\nvar xypoints = context.get('xypoints') || 'x,y';\nvar mesg={};\nmesg.payload='';\n\nswitch (msg.payload) {\n    case 0 :\n        {\n            mesg.payload=xypoints;\n            return[mesg];\n        }\n    case 1 :\n        {   for (i = 0; i < 30; i++) \n            {\n            epsilon= Math.floor((Math.random() * 10) + 1);\n            x = Math.floor((Math.random() * 100) + 1);\n            y = slope_a*x+intercept+epsilon/100;\n            xypoints=xypoints+\"\\n\"+x.toString()+','+y.toString();\n            context.set('xypoints',xypoints);\n            }\n        }\n        break;\n    default:\n\n        break;\n}","outputs":1,"noerr":0,"x":410,"y":220,"wires":[[]]},{"id":"8d3680ee.d9389","type":"inject","z":"df5af0ff.f64188","name":"Initialize","topic":"ini","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":120,"y":40,"wires":[["9d453d3f.f8dec8"]]},{"id":"9d453d3f.f8dec8","type":"trigger","z":"df5af0ff.f64188","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":160,"y":120,"wires":[["265ae28c.95285e"]]},{"id":"57de782a.b47c68","type":"debug","z":"df5af0ff.f64188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"dad27a98.78e5f","type":"cos-put","z":"df5af0ff.f64188","name":"Bluemix COS","bucket":"noderedlocalxypoints","create":"0","objectname":"LocalNodeRedGeneratedXYregressionPoints.csv","mode":"1","filepath":"","filename":"NodeRedGenerated","contentType":"text/comma-separated-values","geturl":false,"cosconfig":"5e144a88.81df14","x":640,"y":300,"wires":[["57de782a.b47c68"]]},{"id":"287b6353.1ded0c","type":"wiotp in","z":"df5af0ff.f64188","authType":"d","deviceKey":"....","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"Simulated ESP8266","x":510,"y":440,"wires":[["596c5fab.dca8b8"]]},{"id":"596c5fab.dca8b8","type":"debug","z":"df5af0ff.f64188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"5e144a88.81df14","type":"cos-config","z":"","apiKeyId":"...","location":"us-south","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.us-south.objectstorage.softlayer.net","serviceInstanceId":"s3.us-south.cloud-object-storage.appdomain.cloud","hmac":false,"accesskeyid":"","accesskey":"","name":"cloud-object-storage-dsx"},{"id":"..","type":"wiotp-credentials","z":"","name":"Simulated ESP8266 from Watson IOT Platform","org":"...","serverName":"","devType":"ESP8266","devId":"ESP8266_1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]