Training2/NodeRedFlowWA_NLU2.json
[{"id":"68350601.a4e2f8","type":"watson-speech-to-text","z":"c8ae868f.ebafe","name":"Speech to Text-aw","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"...","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/speech-to-text/api","x":170,"y":200,"wires":[["63793a1d.85d7cc"]]},{"id":"785f9e19.22d378","type":"watson-text-to-speech","z":"c8ae868f.ebafe","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"...","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/text-to-speech/api","x":680,"y":200,"wires":[["11fef514.3d02b3"]]},{"id":"11fef514.3d02b3","type":"play audio","z":"c8ae868f.ebafe","name":"","voice":"","x":910,"y":140,"wires":[]},{"id":"ad9105f8.a9aed8","type":"debug","z":"c8ae868f.ebafe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":340,"wires":[]},{"id":"f484ee56.c27ef8","type":"change","z":"c8ae868f.ebafe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[[]]},{"id":"43c4e14c.4e3748","type":"natural-language-understanding","z":"c8ae868f.ebafe","name":"Natural Language Understanding-17","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/natural-language-understanding/api","x":530,"y":600,"wires":[["c114d69a.684ee8"]]},{"id":"9d49e766.02a4a8","type":"microphone","z":"c8ae868f.ebafe","name":"","x":130,"y":60,"wires":[["68350601.a4e2f8"]]},{"id":"71a70cac.4229cc","type":"watson-assistant-v2","z":"c8ae868f.ebafe","name":"Chatbot VK","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","assistant_id":"affda27c-197e-4254-8a9c-c131863d249d","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":610,"y":360,"wires":[["529db732.a4be6"]]},{"id":"3f68158d.4983ea","type":"watson-tone-analyzer-v3","z":"c8ae868f.ebafe","name":"Tone Analyzer-51","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","x":590,"y":440,"wires":[["cf878a99.d5b728"]]},{"id":"f9dd646a.3043b8","type":"watson-translator","z":"c8ae868f.ebafe","name":"Language Translator-kv","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"...","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/language-translator/api","x":710,"y":40,"wires":[["11fef514.3d02b3"]]},{"id":"fd9a95df.0f74b8","type":"delay","z":"c8ae868f.ebafe","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":160,"wires":[["f9dd646a.3043b8"]]},{"id":"cf878a99.d5b728","type":"function","z":"c8ae868f.ebafe","name":"Output Tone","func":"var mesg={};\nif (msg.response.document_tone !==undefined)\n{\nvar tone = msg.response.document_tone.tones[0].tone_name;\nif (tone !== undefined)\n    mesg.payload=tone;\n}\nreturn mesg","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["ad9105f8.a9aed8"]]},{"id":"c114d69a.684ee8","type":"function","z":"c8ae868f.ebafe","name":"Output Subject Object Verb tense Sentiment Tone","func":"var mesg={};\n\nif (msg.features !==undefined)\n{\nvar category = msg.features.categories[0].label; \nif (category !== undefined)\n    mesg.payload='Category='+category;\n\nvar subject=msg.features.semantic_roles[0].subject.text\nif (subject !== undefined)\n    mesg.payload=mesg.payload+'; Subject= '+subject;\n\nvar object=msg.features.semantic_roles[0].object.text;\nif (object !== undefined)\n    mesg.payload=mesg.payload+'; Object= '+object;\n\nvar verb=msg.features.semantic_roles[0].action.verb.tense;\nif (verb !== undefined)\n    mesg.payload=mesg.payload+'; Verb tense= '+verb;\n\nvar sentiment=msg.features.sentiment.document.label;\nif (sentiment !==undefined)\n    mesg.payload=mesg.payload+'; Sentiment= '+sentiment;\n\n//var tone = msg.features.document_tone;\n//if (tone !==undefined)\n//    mesg.payload=mesg.payload+'; Tone= '+msg.response.document_tone.tones[0].tone_name;\n}\nreturn mesg;\n","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["ebf167b8.c1dc5"]]},{"id":"a4e63e7d.2ef0d8","type":"debug","z":"c8ae868f.ebafe","name":"Intent recognized","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":240,"wires":[]},{"id":"529db732.a4be6","type":"function","z":"c8ae868f.ebafe","name":"Display intent","func":"var mesg={};\nmesg.payload='Intent='+msg.payload.output.intents[0].intent;\n\nreturn mesg","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["a4e63e7d.2ef0d8"]]},{"id":"ebf167b8.c1dc5","type":"debug","z":"c8ae868f.ebafe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":600,"wires":[]},{"id":"63793a1d.85d7cc","type":"debug","z":"c8ae868f.ebafe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":100,"wires":[]},{"id":"b50f6a63.ab5338","type":"inject","z":"c8ae868f.ebafe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["26d26e80.9bd722"]]},{"id":"26d26e80.9bd722","type":"function","z":"c8ae868f.ebafe","name":"Insert Hello","func":"var mesg={};\nmesg.payload='Hello, I would like to eat in a restaurant'\n\nreturn mesg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["fd9a95df.0f74b8","785f9e19.22d378","71a70cac.4229cc","3f68158d.4983ea","43c4e14c.4e3748"]]}]