Training2/NodeRedFlowWA_NLU.json
[{"id":"1ac04ab8.c38abd","type":"watson-speech-to-text","z":"8a0a0632.910b7","name":"Speech to Text-aw","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"...","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/speech-to-text/api","x":170,"y":220,"wires":[["ab49be28.80a61"]]},{"id":"5fafaa5f.57debc","type":"watson-text-to-speech","z":"8a0a0632.910b7","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"...","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/text-to-speech/api","x":680,"y":220,"wires":[["c4664244.90b61"]]},{"id":"c4664244.90b61","type":"play audio","z":"8a0a0632.910b7","name":"","voice":"","x":910,"y":160,"wires":[]},{"id":"dbc8bf6e.0b7de8","type":"debug","z":"8a0a0632.910b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":360,"wires":[]},{"id":"ab49be28.80a61","type":"change","z":"8a0a0632.910b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["c9e1d975.4d4668","5fafaa5f.57debc","b41b687a.394ed","d8091629.27c018","84e71512.9d4b2"]]},{"id":"84e71512.9d4b2","type":"natural-language-understanding","z":"8a0a0632.910b7","name":"Natural Language Understanding-v7","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":530,"y":620,"wires":[["d909e006.dbb04","5740dadd.e9604c"]]},{"id":"8b20010d.89c7a8","type":"microphone","z":"8a0a0632.910b7","name":"","x":130,"y":80,"wires":[["1ac04ab8.c38abd"]]},{"id":"c9e1d975.4d4668","type":"watson-assistant-v2","z":"8a0a0632.910b7","name":"Chatbot VK","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"...","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":610,"y":380,"wires":[["1e77d467.ab4754","dbc8bf6e.0b7de8"]]},{"id":"d8091629.27c018","type":"watson-tone-analyzer-v3","z":"8a0a0632.910b7","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":590,"y":460,"wires":[["70a4715a.6a4808"]]},{"id":"9444bf05.b14ce","type":"watson-translator","z":"8a0a0632.910b7","name":"Language Translator-kv","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"...","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":710,"y":60,"wires":[["c4664244.90b61"]]},{"id":"b41b687a.394ed","type":"delay","z":"8a0a0632.910b7","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":140,"wires":[["9444bf05.b14ce"]]},{"id":"70a4715a.6a4808","type":"function","z":"8a0a0632.910b7","name":"Output Tone","func":"var mesg={};\nif (msg.response.document_tone !==undefined)\n{\nvar tone = msg.response.document_tone.tones[0].tone_name;\nif (tone !== undefined)\n    mesg.payload=tone;\n}\nreturn mesg","outputs":1,"noerr":0,"x":750,"y":540,"wires":[["dbc8bf6e.0b7de8"]]},{"id":"5740dadd.e9604c","type":"function","z":"8a0a0632.910b7","name":"Output Subject Object Verb tense Sentiment Tone","func":"var mesg={};\n\nif (msg.features !==undefined)\n{\nvar category = msg.features.categories[0].label; \nif (category !== undefined)\n    mesg.payload='Category='+category;\n\nvar subject=msg.features.semantic_roles[0].subject.text\nif (subject !== undefined)\n    mesg.payload=mesg.payload+'; Subject= '+subject;\n\nvar object=msg.features.semantic_roles[0].object.text;\nif (object !== undefined)\n    mesg.payload=mesg.payload+'; Object= '+object;\n\nvar verb=msg.features.semantic_roles[0].action.verb.tense;\nif (verb !== undefined)\n    mesg.payload=mesg.payload+'; Verb tense= '+verb;\n\nvar sentiment=msg.features.sentiment.document.label;\nif (sentiment !==undefined)\n    mesg.payload=mesg.payload+'; Sentiment= '+sentiment;\n\n//var tone = msg.features.document_tone;\n//if (tone !==undefined)\n//    mesg.payload=mesg.payload+'; Tone= '+msg.response.document_tone.tones[0].tone_name;\n}\nreturn mesg;\n","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["dbc8bf6e.0b7de8"]]},{"id":"38ba7fe9.41c5b","type":"debug","z":"8a0a0632.910b7","name":"Intent recognized","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":260,"wires":[]},{"id":"1e77d467.ab4754","type":"function","z":"8a0a0632.910b7","name":"Display intent","func":"var mesg={};\nmesg.payload='Intent='+msg.payload.output.intents[0].intent;\n\nreturn mesg","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["38ba7fe9.41c5b"]]},{"id":"d909e006.dbb04","type":"debug","z":"8a0a0632.910b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":620,"wires":[]}]