Training WA101/L6 - Integrating in Node Red/Node-Red intro flow.json
[{"id":"91f26434.d70218","type":"inject","z":"b1d25375.a0cea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["a381c6d.1f8eeb8","aae34994.f5649"]]},{"id":"75261c03.cd02a4","type":"debug","z":"b1d25375.a0cea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"a381c6d.1f8eeb8","type":"function","z":"b1d25375.a0cea","name":"Division test with display of number","func":"var mesg={};\nvar generated = msg.payload;\ndivisor=3;\nvar divided=Math.floor(generated/divisor);\nif (3*divided == generated )\n    mesg.payload=generated+\" is divisible with \"+divisor.toString();\nelse\n    mesg.payload=generated+\" is not divisible with \"+divisor.toString();\nreturn mesg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["75261c03.cd02a4"]]},{"id":"815a9e5.81917e","type":"comment","z":"b1d25375.a0cea","name":"Simple flow example","info":"","x":310,"y":80,"wires":[]},{"id":"c4a3dc74.86fa68","type":"play audio","z":"b1d25375.a0cea","name":"","voice":"","x":570,"y":380,"wires":[]},{"id":"aae34994.f5649","type":"function","z":"b1d25375.a0cea","name":"Division test without display of number","func":"var mesg={};\nvar generated = msg.payload;\ndivisor=3;\nvar divided=Math.floor(generated/divisor);\nif (3*divided == generated )\n    mesg.payload=\"Number is divisible with \"+divisor.toString();\nelse\n    mesg.payload=\"Number is not divisible with \"+divisor.toString();\nreturn mesg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["a6e73eab.8ad318"]]},{"id":"a6e73eab.8ad318","type":"rbe","z":"b1d25375.a0cea","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":370,"y":380,"wires":[["c4a3dc74.86fa68"]]}]