Training WA101/L6 - Integrating in Node Red/WA - NLU - TA - LT flow.json
[{"id":"ce1b07f4.ac578","type":"tab","label":"Chatbot, NLU processing","disabled":false,"info":""},{"id":"b6a4baa9.08dbb","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":340,"wires":[]},{"id":"769dec6b.fd4f34","type":"natural-language-understanding","z":"ce1b07f4.ac578","name":"Natural Language Understanding-17","categories":true,"limitcategories":"","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":590,"y":520,"wires":[["572d1043.41e6f8"]]},{"id":"60cd9a08.5c5214","type":"watson-tone-analyzer-v3","z":"ce1b07f4.ac578","name":"Tone Analyzer-51","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":590,"y":440,"wires":[["7ab7ed04.91e5fc"]]},{"id":"e140aa74.c4282","type":"watson-translator","z":"ce1b07f4.ac578","name":"Language Translator-kv","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"...","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":710,"y":40,"wires":[["b987e8aa.42c3d","ab90b419.82219"]]},{"id":"85fa05c9.f90d38","type":"delay","z":"ce1b07f4.ac578","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":160,"wires":[["e140aa74.c4282"]]},{"id":"7ab7ed04.91e5fc","type":"function","z":"ce1b07f4.ac578","name":"Output Tone","func":"var mesg={};\nif (msg.response.document_tone !==undefined)\n{\nvar tone = msg.response.document_tone.tones[0].tone_name;\nif (tone !== undefined)\n    mesg.payload=tone;\n}\nreturn mesg","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["5e568cf8.ea3ac4"]]},{"id":"572d1043.41e6f8","type":"function","z":"ce1b07f4.ac578","name":"Output Subject Object Verb tense Sentiment Tone","func":"var mesg={};\n\nif (msg.features !==undefined)\n{\nvar category = msg.features.categories[0].label; \nif (category !== undefined)\n    mesg.payload='Category='+category;\n\nvar subject=msg.features.semantic_roles[0].subject.text\nif (subject !== undefined)\n    mesg.payload=mesg.payload+'; Subject= '+subject;\n\nvar object=msg.features.semantic_roles[0].object.text;\nif (object !== undefined)\n    mesg.payload=mesg.payload+'; Object= '+object;\n\nvar verb=msg.features.semantic_roles[0].action.verb.tense;\nif (verb !== undefined)\n    mesg.payload=mesg.payload+'; Verb tense= '+verb;\n\nvar sentiment=msg.features.sentiment.document.label;\nif (sentiment !==undefined)\n    mesg.payload=mesg.payload+'; Sentiment= '+sentiment;\n\n//var tone = msg.features.document_tone;\n//if (tone !==undefined)\n//    mesg.payload=mesg.payload+'; Tone= '+msg.response.document_tone.tones[0].tone_name;\n}\nreturn mesg;\n","outputs":1,"noerr":0,"x":770,"y":600,"wires":[["ceed3302.757378","6ece1b5e.465b5c"]]},{"id":"2566fd29.f4933a","type":"function","z":"ce1b07f4.ac578","name":"Display intent and confidence","func":"var outp=msg.payload.output;\nvar repl1=outp.generic[0].text;\nvar repl=repl1;\nglobal.set('repl1',repl1);\nvar repl2='';\n\nif (outp.generic.length>1)\n    {\n        repl2=outp.generic[1].text;\n        repl=repl+' '+repl2;\n    }\nglobal.set('repl2',repl2);\n        \nvar prob=outp.intents[0].confidence*100;\nvar intnt=outp.intents[0].intent;\n//msg.payload.output.intents[0].confidence*100;\nconf=parseFloat(prob.toFixed(2))\nvar mesg={};\nmesg.payload='Intent='+intnt+', Prob='+conf+', Repl='+repl;\nreturn mesg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["ab5ec995.752e08","5e19fe0c.0acf58"]]},{"id":"ceed3302.757378","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":460,"wires":[]},{"id":"c49ed718.cba64","type":"function","z":"ce1b07f4.ac578","name":"Insert Utterance","func":"var mesg={};\nmesg.payload=msg.payload\n\nreturn mesg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["85fa05c9.f90d38","769dec6b.fd4f34","60cd9a08.5c5214","c7beab28.817008"]]},{"id":"fe32c532.a0f408","type":"link in","z":"ce1b07f4.ac578","name":"TextIn","links":["9b7ff04b.0d0638"],"x":175,"y":360,"wires":[["8e6e6059.0c7468","c49ed718.cba64"]]},{"id":"8e6e6059.0c7468","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":420,"wires":[]},{"id":"6ece1b5e.465b5c","type":"link out","z":"ce1b07f4.ac578","name":"NLU out","links":["268cc606.0f36fa"],"x":955,"y":680,"wires":[]},{"id":"5e568cf8.ea3ac4","type":"link out","z":"ce1b07f4.ac578","name":"Output Tone","links":["719977f0.c50fb"],"x":980,"y":400,"wires":[]},{"id":"ab5ec995.752e08","type":"link out","z":"ce1b07f4.ac578","name":"Output Intent","links":["58e54a82.f4236c"],"x":955,"y":160,"wires":[]},{"id":"b987e8aa.42c3d","type":"link out","z":"ce1b07f4.ac578","name":"Output translation","links":["68a192de.092854"],"x":940,"y":80,"wires":[]},{"id":"5e19fe0c.0acf58","type":"debug","z":"ce1b07f4.ac578","name":"Intent recognized","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":280,"wires":[]},{"id":"ab90b419.82219","type":"debug","z":"ce1b07f4.ac578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":100,"wires":[]},{"id":"c7beab28.817008","type":"watson-assistant-v2","z":"ce1b07f4.ac578","name":"Phone Advisor Assistant","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"76aef23f-763e-44bf-993d-3a006ff38d03","debug":true,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":590,"y":320,"wires":[["2566fd29.f4933a","b6a4baa9.08dbb"]]}]